
.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    
  }

  .primary-color{
    background-color: hsl(220, 16%, 96%);
  }
  .primary-text-color{
    color:#666786;
  }